body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  min-width: 400px;
  max-width: auto;
}

header {
  width: auto;
  height: 75px;
  background-color: #dc600d;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 30px 10px 30px;

}

.name {
  font-style: oblique;
  width: 60%;
  font-size: 40px;
  margin: auto;
}

.work {
  font-family: 'Times New Roman', Times, serif;
  font-size: 30px;
  margin-right: 15px;
  flex-basis: auto;
}


.cara {
  border-radius: 500px;
  height: 200px;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 450px;
  background-color: #3e3e3e;
  color: white;
}

.container-central {
  margin: 70px 0 70px 0;
  width: 70%;
  display: flex;
  flex-direction: row;
  border-radius: 20px;
  overflow: hidden;
  height: auto;
}

.face {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  background-color: #5276e170;
  border: 7px solid #00289e;
}



.presentation {
  display: inline-block;
  width: 100%;
  padding: 25px;
  background-color: #F2F2F2;
  color: #303030;
  padding: 10px;
  border: 10px ridge #fcf400;
  background-color: #fffdc2;
}

.greeting {
  font-size: 35px;
  font-weight: lighter;
  margin: 10px 20px 30px 0;
  width: 100%;
  text-align: center;
}

.personalPresentation {
  font-family: Arial, Helvetica, sans-serif;
  margin: 10px 20px 10px 0;
  text-align: center;
  width: 100%;
  font-size: 25px;
  line-height: 40px;
}

.description1 {
  background-color: #bff5ff36;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #3c3c3c;
  width: 95%;
  margin: 20px auto;

}

.aboutMeContainer {}

.aboutMeContainer .aboutMe {
  font-size: 35px;
  font-weight: bold;
  font-style: italic;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
  margin: 10px auto 25px auto;
}

.personalInformation {
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 150%;
  letter-spacing: 2px;
  line-height: initial;
  text-align: justify;
  width: 80%;
  margin: 15px auto 40px auto;
}

.ubicationMap {
  width: auto;
}

.ubicationTittle {
  font-size: 40px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: #00289e;
  text-align: center;
}

.ubication {
  width: fit-content;
  margin: auto 30px;
}

.description2 {
  background-color: #bff5ff36;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #3c3c3c;
  padding-left: 20%;
  padding-right: 20%;
}

.personalAptitudes {
  background-color: #bff5ff36;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #3c3c3c;
  width: 65%;
  margin: 20px auto;
}

.itemCourse {
  font-size: 15px;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 5px;
  margin: 20px;
  text-decoration: none;

}

.personalAptitudes h2 {
  font-size: 25px;
  text-transform: uppercase;
  text-decoration: underline;
  line-height: 40px;
}

.personalAptitudes {
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
  padding: 10px;
}

.personalAptitudesOne {
  font-size: 10px;
  line-height: 30px;
}


.personalAptitudes p {
  font-size: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.aptitudes {
  width: 50%;
  font-size: 20px;
  margin: 20px auto;
}

.aptitudes {
  padding: 20px;
  margin: 10px auto;
  text-align: center;
}

.listCourses {
  padding: 10px;
  margin: auto;
  text-align: center;
}

.listCourses li {
  margin: 10px auto;
  list-style: circle;
}

.listCourses li a:hover {
  color: #c24d00;
}

.techList h2 {
  font-weight: bolder;
  margin: 10px 0 0 0;
}

.techList {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

.tech {
  height: 90px;
}

.proyectSection h2 {
  font-size: 20px;
  font-weight: bold;
  margin: 20px auto 0 auto;
}

.proyectSection {
  background-color: #363636;
  height: fit-content;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  color: #F2F2F2;
  margin: 20px auto 0 auto;
}

.proyects {
  margin: 20px auto;
  text-align: center;
}

.proyectsOneToOne {
  width: 60%;
  font-size: 10px;
  height: max-content;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 10px auto;
  list-style: circle;
}

.proyectsOneToOne li p {
  font-style: oblique;
  font-size: 15px;
  margin: 10px auto;
  line-height: 20px;
}

.proyectsOneToOne li p a {
  text-decoration: none;
  color: #fff;
}

.proyectsOneToOne li p a:hover {
  color: #b4ebff;
  transform: scale(1.3);
  transition: 0.6s;
}

.card {
  text-align: center;
  width: 30%;
  border: solid #F2F2F2 1px;
  border-radius: 10px;
  padding: 10px;
}

.card img {
  width: 100%;
}

.card a,
footer a {
  color: white;
}

.red-social {
  height: 60px;
  background-color: #F2F2F2;
  border-radius: 10px;
}

footer {
  background-color: #525252;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: #F2F2F2;
  height: min-content;
}

.contacto {
  width: 30%;
  display: flex;
  justify-content: center;
  margin: 0 0 30px 0;
}

.contacto a img:hover {
  transform: scale(1.3);
  transition: 0.5s;
}

.personalContact {
  margin: 20px auto;
  font-size: 20px;
  font-style: oblique;
  font-weight: bold;
}

@media (max-width: 1280px) {

  .greeting {
    font-size: 30px;
  }

  .face {
    width: 30%;
  }

  .cara {
    height: 150px;

  }

  .name,
  .work {
    width: auto;
  }


}

@media (max-width: 1000px) {
  .caja-central {
    width: 90%;
    height: 70%;
    flex-direction: column;
  }

  .caja-cara {
    width: 100%;
    height: 50%;
  }

  .caja-presentacion {
    width: 100%;
    height: 50%;
    align-items: flex-start;
  }

  .container-central {
    flex-direction: column;
    margin: 0 auto 10px auto;
  }

  .greeting {
    font-size: 25px;
    margin: 5px 5px 15px 0;
  }

  .presentation {
    width: auto;
  }

  .personalPresentation {
    font-size: 20px;
  }

  .aptitudes {
    width: auto;
    margin: inherit;
  }

  .dos {
    height: auto;
    padding: 0 10px 10px 10px;

  }

  .tres {
    height: auto;
  }

  .proyectos {
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
  }

  .card {
    width: 80%;
    margin-top: 20px;
  }

  .red-social {
    margin: 0 10px 0 10px;
  }

  .name,
  .work {
    font-size: 30px;
  }

  .face {
    margin: auto;
  }

  .cara {
    width: 100%;
    height: auto;
  }

  .proyectSection {
    height: fit-content;
  }

  .proyectos p a {
    line-height: 30px;
  }

}

@media screen and (max-width: 800px) {
  header {
    flex-direction: column;
    line-height: 45px;
    height: fit-content;
  }

  .work {
    font-size: 25px;
  }

  .personalInformation,
  .personalAptitudes,
  .techList,
  .listCourses {
    width: fit-content;
    text-align: initial;
  }
}

@media screen and (max-width: 600px) {
  .presentation {
    max-height: 300px;
    overflow-y: scroll;
  }

  .name {
    font-size: 25px;
  }

  .work {
    font-size: 18px;
  }
}